@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-raleway);
  --font-exo: var(--font-exo);
}

html {
  @apply scroll-smooth;
}

:target {
  @apply scroll-mt-16;
}

.shiki {
  padding: 1rem; /* Equivalent to p-4 */
}
